
Options +FollowSymlinks
RewriteEngine on

 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?cmd=$1 [NC]

<files pw>
order allow,deny
deny from all
</files>
